<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<style>
		@import 'https://fonts.googleapis.com/css?family=Open+Sans';
	</style>
	</head>
	<body>
		<div id="header">
			<h1>Catalog</h1>
			
			<div id="logout">
				<a href= "{{url_for('gdisconnect')}}">Logout</a>
			</div>	
			
		</div>

		
		<div id="nav">
		
			<a href= '/'> Home </a>
			</br>
			{% for c in categories %}
				<a href= '{{url_for('view_category_items', category_name = c.name)}}'>{{c.name}}</a>
			{% endfor %}


		</div>	

		<div id="section">
			<h1><u>Latest Items</h1></u>
			{% for i in items %}
				{% for c in categories %}
						{% if i.category_id == c.id %}
						<a href='{{url_for('view_item', category_name = c.name, item_name = i.name)}}'>{{i.name}} <i>({{c.name}})</i>
						{% endif %}
					{% endfor %}
				
			
				</br>
				</a>
			{% endfor %}
		</br>
		<a href="">Add Item</a>



		</div>	
		

	</body>


</html>

