<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<style>
		@import 'https://fonts.googleapis.com/css?family=Open+Sans';
	</style>
	</head>
	<body>
		<div id="header">
			<h1>Catalog</h1>

			<div id="logout">
				<a href= "{{url_for('gdisconnect')}}">Logout</a>
			</div>	

		</div>	
						
		<div id="nav">
		
			{% for c in categories %}
				<a href= "{{url_for('view_category_items', category_id = c.id)}}">{{c.name}}</a>
			{% endfor %}
			<a href= "/"> Home </a>

		</div>	

		<div id="section">
			<h2><u>{{item.name}}</u></h2>
	
			{% for i in categories %}
				{% if i.id == item.category_id %}
				<form action="{{url_for('edit_item', category_id = i.id, item_id=item.id)}}" method ='POST'>
				{% endif %}
			{% endfor %}
			
				<label>Item Name:</label>
				<input type="text" size="30" name="name" placeholder="{{item.name}}">
				<br />
				<br />
				<label>Description:</label>
				<input type="textarea" name="description" placeholder="{{item.description}}">
				<br />
				<br />
				<label>Category:</label>
				<select name="category_dropdown">
					{% for i in categories %}
						{% if i.id == item.category_id %}
						<option value="{{i.id}}" selected >{{i.name}}</option>
						{% else %}
						<option value="{{i.id}}" >{{i.name}}</option>
						{% endif %}
					{% endfor %}
					
				</select>
				<br />
				<br />
				<input type='submit' value='Edit'>
				<a href= "/">Cancel </a>
			</form>

		</div>	


	</body>


</html>

